<app-header></app-header>
<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">


            <div class="card mt-5 mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets/icono-dukare.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <h3 class="card-title">Sistema Control</h3>
                            <h3 class="card-title text-muted">Ensamblaje de Motos Dukare</h3>
                            <p class="card-text">Sistema encargado del ingreso de información de motos Dukare y de gestionar el proceso de emsamblaje y distribución de las mismas.</p>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>