<app-header></app-header>
<div class="container-fluid mt-3">
    <h3>Detalle de Usuario</h3>
    <hr>
    <div class="row ">
        <div class="text-left">
            <button [routerLink]="['/usuario']" routerLinkActive="router-link-active" class="btn btn-info btn-sm">Regresar</button>
        </div>
        <div class="col-3"></div>
        <div class="col-5">

            <div class="card">
                <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="guardar(form)">
                        <div class="form-group row">
                            <label class="col-md-3" for="">Usuario:</label>
                            <div class="col-md-9">
                                <input name="usuario" [(ngModel)]="usuario.usuario" required type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="">Contraseña:</label>
                            <div class="col-md-9">
                                <input name="password" [(ngModel)]="usuario.password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3" for="">Rol:</label>
                            <div class="col-md-9">
                                <select name="rol" [(ngModel)]="usuario.rol" required class="form-control">
                                    <option value=""></option>
                                    <option value="1">Administrador</option>
                                    <option value="2">Usuario</option>
                                    <option value="3">Ensamblador</option>
                                </select>
                            </div>
                        </div>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>